@model IEnumerable<QuanLyQuayThuoc.Models.Brand>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a class="btn btn-success" onclick="confirmAction()" style="margin-bottom:10px" href="@Url.Action("Create","Brands")"><i class="fa fa-plus"></i></a>
                        <table id="example1" class="table table-bordered table-striped" method="Get">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.brand_name)</th>
                                    <th>Số lượng</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.brand_name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Products.Count)
                        </td>
                        <td>
                            <a class='btn btn-default btn-sm' style='margin-left:5px' href="/Brands/Edit/@item.brand_id"><i class='fa fa-edit'></i>Sửa</a>
                            @if (@item.Products.Count.Equals(0))
                            {
            <a class='btn btn-danger btn-sm' style='margin-left:5px' href="/Brands/Delete/@item.brand_id"><i class='fa fa-trash'></i>Xóa</a>}
                        </td>

                    </tr>}
                            </tbody>
                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
