@model IEnumerable<QuanLyQuayThuoc.Models.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">         
                        <table id="example1" class="table table-bordered table-striped" method="Get">
                            <thead>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <th>Người mua</th>
                                    <th>Người bán</th>
                                    <th>Ngày bán</th>
                                    <th>Tổng tiền</th>

                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cus_Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Customer.cus_Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(m => item.seller)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.bill_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.bill_total)
                                    </td>

                                    <td>
                                        @*<a class='btn btn-default btn-sm' style='margin-left:5px' href="/Distributors/Edit/@item.dis_id"><i class='fa fa-edit'></i> Sửa</a>*@
                                        <a class='btn btn-default btn-sm' style='margin-left:5px' href="/BillDetails/Details/@item.bill_id"><i class='fa fa-edit'></i>Chi tiết</a>
                                    </td>

                                </tr>
}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
